OPENAI_API_KEY=<api-key>
DEBUG=False
DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5432/rag_db
EMBEDDING_MODEL=text-embedding-3-small
CUDA_LAUNCH_BLOCKING='0'
PYTORCH_CUDA_ALLOC_CONF=':16:8'